.main{
    
    padding: 0 30px;
    flex: 1 1 auto;

}


.graphics {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.graphic {

		&__block {
            padding: 25px;
            background: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
		}

}
